.bordered-table-login {
    width: 40%;
    border-collapse: collapse;
    border: 2px solid #cccccc;
    margin: auto; /* 置中表格 */
    border-radius: 5px;

    th,
    td {
        border: 1px solid #cccccc;
        padding: 6px;
        text-align: center;
    }
}

.tr-cell {
    width: 15%;
}

.td-cell {
    width: 25%;
}

.custom-header {
    background: linear-gradient(to bottom, #ffffff, #d4daeb);
}

.custom-cell {
    background-color: #ffffff;
}
